<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="AtlantisGymBDConnectionString" connectionString="Data Source=(LocalDB)\GYM;Initial Catalog=AtlantisGYM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Atlantis_Gym.Properties.Settings.AtlantisGymBDConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\AtlantisGymBD.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Atlantis_Gym.Properties.Settings.AtlantisGYMConnectionString" connectionString="Data Source=(localdb)\GYM;Initial Catalog=AtlantisGYM;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="AtlantisHuellasEntities" connectionString="metadata=res://*/UsuariosModel.csdl|res://*/UsuariosModel.ssdl|res://*/UsuariosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\GYM;initial catalog=AtlantisHuellas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>